.btn-set {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 3px -1px #5d5d5d;
    /* box-sizing: content-box; */
}
.btn-set button {
    border: none;
    outline: none;
    background: #ffffff;
    color: #3d3d3d;
    font-size: 15px;
    font-family: Assistant-Light;
    line-height: 19px;
    height: 76px;
    flex-grow: 1;
}

.btn-set > .selected{
    border: none;
    outline: none;
    background: #ffffff;
    color: #5d5d5d;
    font-size: 15px;
    font-family: Assistant-SemiBold;
    line-height: 19px;
    height: 76px;
    flex-grow: 1;
}
