.arrowleftright{
    width:25px;
    height:25px;
    margin-top: 10px;
}
.monthTag{
    width:250px;
    font-size: 30px;
text-align:center ;
}
.chooseMonth{
    display:flex;
    justify-content: center;
}