.report-font-size {
    font-size: 10px;
}

.report-font-bold {
    font-weight: bold;
}

.fixed-bottom {
    height: 76px;
    background-color: white;
}

.bottom-menu {
    padding: 0px 5px;
}

.plus-cyrcle {
    height: 51px;
    width: 51px;
    background-color: #5d5d5d;
    border-radius: 50%;
    display: inline-block;
    font-size: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}


/* 
.plus {
    padding: 0px 20px;
} */