 .btn-set {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 8px 0px #5d5d5d;
    /* box-sizing: content-box; */
}
.btn-set button {
    border: none;
    outline: none;
    background: transparent;
    color: #5d5d5d;
    font-size: 15px;
    opacity: 70%;
    font-family: Assistant-Light;
    line-height: 19px;
    padding: 38% 7% 37% 15%;
    height: 76px;
    width: 179px;
}

.btn-set > .selected{
    border: none;
    outline: none;
    background: transparent;
    color: #5d5d5d;
    font-size: 15px;
    opacity: 100%;
    font-family: Assistant-SemiBold;
    line-height: 19px;
    padding: 38% 7% 37% 15%;
    height: 76px;
    width: 179px;
}
