.courses-activeFilter {
    margin-top:16px;
    position: fixed;
    bottom:0;
    width:100%;

}
.syllabus-header {
    font-family: Assistant-SemiBold;
    text-align: center;
    margin: 30px;
}
.syllabus-course {
    text-align: center;
}